doctype 5
html
    head
        title Главная
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(rel="stylesheet", href="css/all.css")
body
    include all
    +b-container
        +b-cart
        +b-filter([{text:'Бренд 1', url:'brand-1.html'},{text:'Бренд 2', url:'brand-2.html'},{text:'Бренд 3', url:'brand-3.html'}])
        +b-catalog
            +b-product([{title:'Бренд 1', description:'Тут краткое описание товара'},{title:'Бренд 1', description:'Тут краткое описание товара'},{title:'Бренд 1', description:'Тут краткое описание товара'}])

    script(src='js/jquery-1.9.1.js')
    script(src='js/jquery-ui-1.10.3.custom.js')
    script(src='blocks/b-filter/b-filter.js')
    script(src='blocks/b-catalog/b-catalog.js')
    script(src='blocks/b-product/b-product.js')
    script(src='blocks/b-cart/b-cart.js')
    script(src='js/all.js')