mixin b-product (list)
    -if (list)
        -list.forEach(function(item){
            .b-product
                .b-product__photo
                .b-product__description
                    h3.b-product__title #{item.title}
                    | #{item.description}
        -})
-var list