include ../blocks/b-product/b-product.jade
+b-product([{title:'Бренд 1', description:'Тут краткое описание товара'},{title:'Бренд 1', description:'Тут краткое описание товара'},{title:'Бренд 1', description:'Тут краткое описание товара'}])

