include ../blocks/b-product/b-product.jade
+b-product([{title:'Бренд 3', description:'Тут краткое описание товара карты памяти microSD (TransFlash) поддержка Bluetooth  '},{title:'Бренд 3', description:'Тут краткое описание товара карты памяти microSD (TransFlash) поддержка Bluetooth '},{title:'Бренд 3', description:'Тут краткое описание товара карты памяти microSD (TransFlash) поддержка Bluetooth '}])
