include ../blocks/b-product/b-product.jade
+b-product([{title:'Бренд 2', description:'карты памяти microSD (TransFlash) поддержка Bluetooth'},{title:'Бренд 2', description:'карты памяти microSD (TransFlash) поддержка Bluetooth'},{title:'Бренд 2', description:'карты памяти microSD (TransFlash) поддержка Bluetooth'}])