.b-catalog {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.b-catalog__loader {
  background: url(../blocks/b-catalog/i/ajax-loader.gif) no-repeat scroll 50% 50% #ffffff;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}
