.b-catalog {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.b-catalog__item {
  padding: 10px;
  overflow: hidden;
}
.b-catalog__photo {
  height: 120px;
  margin: 0 20px 0 0;
  width: 160px;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  display: block;
  float: left;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAB4CAYAAAB1ovlvAAACaElEQVR4nO3XQW7aQBiA0dz/KF57y5K9D8AZuAJdGQ2uA00b6WvMWzwpYcA/Ep/G44/r9XqDykf9BXhvAiQlQFICJCVAUgIkJUBSAiQlQFICJCVAUgIkJUBSAiQlQFICJCVAUgIkJUBSAiQlQFICJCVAUgIkJUBSAiQlQFICJCVAUgIkJUBSAiQlQFICJCVAUgIkJUBSAiQlQFICJCVAUgIkJUBSAiQlQFICJCVAUgIkJUBSAiQlQFICJCVAUm8T4LIst2mabsuyPLx+Pp9v0zTdpmm6nU6nh7V5nu9r28/97bz1et8976d6iwDHyMYfdn19L5hxbf37crn807zT6XS/5uVy+bZ5P9nhAxxj2AYxz/Nvu9C4Ns/zQyzn8/m+tg13XXs2b2vcBZ/NO7K3CHBZlnsYYxBrAGss4w++vUWO/6+BrJ9dw3k1b/u9xpnP5h3Z4QPc/uDbAD+7Bb8KYgx3L7JnAa6zxtusAA/u2Q54vT7uan8SxPr+cfd7NW/83Fd23CN76wC3Z8CvnMnGJ9a9s9pnAT57AnYGPLC9IManzWdPwevaerscr7WGuH1i3Zu3d2bcvn9v3pG9dYBjFHs7zmfnvDGi7a372bzx6XhvJ3x1rjyitwmQ/5MASQmQlABJCZCUAEkJkJQASQmQlABJCZCUAEkJkJQASQmQlABJCZCUAEkJkJQASQmQlABJCZCUAEkJkJQASQmQlABJCZCUAEkJkJQASQmQlABJCZCUAEkJkJQASQmQlABJCZCUAEkJkJQASQmQlABJCZCUAEkJkJQASQmQlABJCZCUAEkJkJQASQmQ1C9XI10qYM788AAAAABJRU5ErkJggg==);
}
.b-catalog__description {
  overflow: hidden;
}
.b-catalog__title {
  margin: 0 0 10px 0;
}
.b-catalog__loader {
  background: url(/blocks/b-catalog/i/ajax-loader.gif) no-repeat scroll 50% 50% #ffffff;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}
